<footer class="cg-footer">
    <div class="cg-container cg-footer__inner">
        <div class="cg-footer__grid">
            <div>
                <h4 class="cg-footer__title">CafeGo</h4>
                <p class="cg-footer__muted">당신만의 완벽한 카페를 찾아보세요</p>
            </div>

            <div>
                <h4 class="cg-footer__title">서비스</h4>
                <ul class="cg-footer__list">
                    <li><a href="/search">카페 검색</a></li>
                    <li><a href="/reviews">리뷰 작성</a></li>
                    <li><a href="/reviewer/guide">전문가 리뷰</a></li>
                </ul>
            </div>

            <div>
                <h4 class="cg-footer__title">고객지원</h4>
                <ul class="cg-footer__list">
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/contact">문의하기</a></li>
                    <li><a href="/terms">이용약관</a></li>
                </ul>
            </div>

            <div>
                <h4 class="cg-footer__title">연결하기</h4>
                <div class="cg-footer__socials">
                    <a href="#" aria-label="Facebook">📘</a>
                    <a href="#" aria-label="Instagram">📷</a>
                    <a href="#" aria-label="Twitter / X">🐦</a>
                </div>
            </div>
        </div>

        <div class="cg-footer__bottom">
            © 2025 CafeGo. All rights reserved.
        </div>
    </div>
</footer>

<script src="/js/header.js"></script>
<script src="/js/main.js"></script>
</body>
</html>