<div class="cg-actions">
    <a class="cg-btn-outline" href="tel:{{cafeNumber}}">전화</a>
    <a class="cg-btn-outline" target="_blank" href="https://map.kakao.com/link/to/{{cafeName}},{{cafeLat}},{{cafeLon}}">길찾기</a>
    {{#isLoggedIn}}<a class="cg-btn" href="/reviews/new?cafeId={{cafeId}}">후기 작성</a>{{/isLoggedIn}}
    {{#isOwner}}
        <a class="cg-btn-outline" href="/cafes/{{cafeId}}/edit">정보 수정</a>
        <form method="post" action="/cafes/{{cafeId}}/delete" style="display:inline">
            {{#_csrf}}<input type="hidden" name="{{parameterName}}" value="{{token}}">{{/_csrf}}
            <button class="cg-btn-outline" type="submit" onclick="return confirm('삭제하시겠어요?')">삭제</button>
        </form>
    {{/isOwner}}
</div>
